@model RealEstateAdmin.Models.ModelDtos.Other.Auth.RegisterUserDto
@{
    ViewData["Title"] = RealEstateAdmin.Resources.Text.Create + " " + RealEstateAdmin.Resources.Text.User;
}

@section PageMap{
    <!--Page-Header-->
    <div class="page-header">
        <h4 class="page-title">@RealEstateAdmin.Resources.Text.Create @RealEstateAdmin.Resources.Text.User</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/">@RealEstateAdmin.Resources.Text.Home</a></li>
            <li class="breadcrumb-item"><a href="~/users">@RealEstateAdmin.Resources.Text.User @RealEstateAdmin.Resources.Text.List</a></li>
            <li class="breadcrumb-item active" aria-current="page">@RealEstateAdmin.Resources.Text.Create @RealEstateAdmin.Resources.Text.User</li>
        </ol>
    </div>
    <!--/Page-Header-->
}

<!-- end row -->
<div class="row">
    <div class="col-md-12">
        <div class="card m-b-20">
            <div class="card-header">
                <h3 class="card-title">@RealEstateAdmin.Resources.Text.Create @RealEstateAdmin.Resources.Text.User</h3>
            </div>
            <div class="card-body">
                <form asp-action="Create" asp-controller="Users" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="FirstName">@RealEstateAdmin.Resources.Text.Firstname</label>
                                <input type="text" class="form-control" asp-for="@Model.Firstname" name="FirstName" placeholder="First Name">
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="LastName">@RealEstateAdmin.Resources.Text.Lastname</label>
                                <input type="text" class="form-control" asp-for="@Model.Lastname" name="LastName" placeholder="Last Name">
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="exampleInputEmail1">@RealEstateAdmin.Resources.Text.MiddleName</label>
                                <input type="text" class="form-control" name="MiddleName" placeholder="Enter Middle name">
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="exampleInputEmail1">@RealEstateAdmin.Resources.Text.Username</label>
                                <input type="text" class="form-control" asp-for="@Model.Username" name="UserName" placeholder="Enter Username">
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="exampleInputEmail1">@RealEstateAdmin.Resources.Text.Password</label>
                                <input type="password" class="form-control" asp-for="@Model.Password" name="password" placeholder="Enter Password">
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="exampleInputEmail1">@RealEstateAdmin.Resources.Text.Email</label>
                                <input type="email" class="form-control" asp-for="@Model.Email" name="Email" placeholder="Enter Email">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="~/users" class="btn mx-2 btn-default"> <i class="fa fa-ban"></i> @RealEstateAdmin.Resources.Text.Cancel</a>
                        <button type="submit" class="btn mx-2 btn-primary "><i class="fa fa-dot-circle-o"></i> @RealEstateAdmin.Resources.Text.Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
