@using RealEstateAdmin.Models.ModelDtos.CMS;
@model ContentDto
@{
    ViewData["Title"] = RealEstateAdmin.Resources.Text.Create + " " + RealEstateAdmin.Resources.Text.ContentPage;

    var parentsList = (List<ContentDto>)ViewBag.ParentList;
}

<!--Page-Header-->
<div class="page-header">
    <h4 class="page-title">@RealEstateAdmin.Resources.Text.Create @RealEstateAdmin.Resources.Text.ContentPage</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">@RealEstateAdmin.Resources.Text.Home</a></li>
        <li class="breadcrumb-item"><a href="~/ContentManagement">@RealEstateAdmin.Resources.Text.ContentPage</a></li>
        <li class="breadcrumb-item active" aria-current="page">@RealEstateAdmin.Resources.Text.Create @RealEstateAdmin.Resources.Text.ContentPage</li>
    </ol>
</div>
<!--/Page-Header-->
<div class="row">
    <div class="col-md-12">
        <div class="card m-b-20">
            <div class="card-header">
                <h3 class="card-title">@RealEstateAdmin.Resources.Text.Create @RealEstateAdmin.Resources.Text.ContentPage</h3>
            </div>
            <div class="card-body">
                <form asp-action="create" asp-controller="ContentManagement" id="ContentManagement-form" method="post">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" asp-for="@Model.IsMenu" name="IsMenu" id="IsMenu">
                            <label class="custom-control-label" for="IsMenu">@RealEstateAdmin.Resources.Text.IsMenu</label>
                        </div>
                    </div>
                    <div class="form-group" id="divParents">
                        <div class="row">
                            <div class="col-4">
                                <label class="form-label" for="Title">@RealEstateAdmin.Resources.Text.Parent</label>
                                <select id="ParentId" name="ParentId" class="custom-select">
                                    <option value="">@RealEstateAdmin.Resources.Text.WithoutParent</option>
                                    @foreach (var p in parentsList)
                                    {
                                        <option value="@p.Id">@p.Title</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="Title">@RealEstateAdmin.Resources.Text.Title</label>
                        <input type="text" class="form-control" name="Title" id="Title">
                    </div>
                    <div class="form-group" id="divBody">
                        @Html.TextAreaFor(m => m.Body, new { @class = "form-control content", @rows = "15" })
                    </div>
                    <div class="text-center">
                        <a href="~/ContentManagement" class="btn mx-2 btn-default"> <i class="fa fa-ban"></i> @RealEstateAdmin.Resources.Text.Cancel</a>
                        <button type="submit" id="save" class="btn mx-2 btn-primary "><i class="fa fa-dot-circle-o"></i> @RealEstateAdmin.Resources.Text.Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 

    <script>
        $("#IsMenu").on("change", function () {
            if ($(this).prop('checked')) {
                $("#divParents").hide();
                $("#divBody").hide();
            } else {
                $("#divParents").show();
                $("#divBody").show();
            }
        });
    </script>

}