@using Microsoft.AspNetCore.Http;
@*@model List<RealEstateAdmin.Models.ModelDtos.RBAC.MenuDto>*@
@inject IHttpContextAccessor httpContextAccessor
@inject ApiCaller  api
@inject CurrentUser user
@inject Langs langs
@inject MenuLayout menu
@{
    var fName = Context.Request.Cookies["fname"] ?? "";
    var lName = Context.Request.Cookies["lname"] ?? "";

    var _user = user.Get;
    var _menu = menu.GetMenus();
    var currentLang = langs.Current ?? langs._langs.FirstOrDefault(r => r.IsDefault);
}
<!DOCTYPE html>
<html>

<head>
    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="Reallist- Bootstrap Responsive Real estate Classifieds, Dealer, Rentel, Builder and Agent Multipurpose HTML Template" name="description">
    <meta content="Spruko Technologies Private Limited" name="author">
    <meta name="keywords" content="html template, real estate websites, real estate html template, property websites, premium html templates, real estate company website, bootstrap real estate template, real estate marketplace html template, listing website template, property listing html template, real estate bootstrap template, real estate html5 template, real estate listing template, property template, property dealer website" />

    <!-- Favicon -->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <!-- Title -->
    <title>@ViewData["Title"]</title>

    <!-- Bootstrap Css -->
    <link href="~/assets/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Dashboard Css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/admin-custom.css" rel="stylesheet" />
    <!-- Data table css -->
    <link href="~/assets/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatable/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- Sidemenu Css -->
    <link href="~/assets/plugins/toggle-sidebar/sidemenu.css" rel="stylesheet" />
    <!-- select2 Plugin -->
    <link href="~/assets/plugins/select2/select2.min.css" rel="stylesheet" />
    <!-- Custom scroll bar css-->
    <link href="~/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <!-- WYSIWYG Editor css -->
    <link href="~/assets/plugins/wysiwyag/richtext.css" rel="stylesheet" />
    <!---Font icons-->
    <link href="~/assets/css/icons.css" rel="stylesheet" />
    <link href="~/assets/plugins/iconfonts/icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/fonts/fonts/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/site.css">

    @RenderSection("Head", required: false)

</head>


<body class="app sidebar-mini">
    <!--Loader-->
    <div id="global-loader">
        <img src="~/assets/images/loader.svg" class="loader-img" alt="">
    </div>
    <!--/Loader-->
    <!--Page-->
    <div class="page">
        <div class="page-main">

            <!--App-Header-->
            <div class="app-header1 header py-1 d-flex">
                <div class="container-fluid">
                    <div class="d-flex">
                        <a class="header-brand" href="~/">
                            <img src="~/logo.png" class="header-brand-img" alt="Home&Share">
                        </a>
                        <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-toggle="sidebar" href="#"></a>

                        <div class="d-flex order-lg-2 ml-auto">
                            <div class="dropdown d-none d-md-flex country-selector">
                                <a href="#" class="d-flex nav-link leading-none" data-toggle="dropdown">
                                    <span>
                                        <img src="/assets/images/flags/@currentLang.Flag" class="img-flag"> @currentLang.Name <i class="fa fa-caret-down text-muted"></i>
                                    </span>
                                </a>
                                <div class="language-width dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    @foreach (var lItem in langs._langs)
                                    {
                                        <a href="@Url.Action("ChangeLang", "Home", new { shortName = lItem.ShortName })" class="dropdown-item d-flex pb-3 @if (currentLang.ShortName == lItem.ShortName)
                                            { <text>active</text> }">
                                            <img src="/assets/images/flags/@lItem.Flag" class="avatar mr-3 align-self-center">
                                            <div>
                                                @lItem.Name
                                            </div>
                                        </a>
                                    }
                                </div>
                            </div>


                            @*<div class="dropdown d-none d-md-flex country-selector">
                                    <a href="#" class="d-flex nav-link leading-none" data-toggle="dropdown">
                                        @if (langCookie == "en-US")
                                        {
                                            <img src="~/assets/images/us_flag.jpg" alt="img" class="avatar avatar-xs mr-1 align-self-center">
                                            <div>
                                                <strong class="text-dark">English</strong>
                                            </div>
                                        }
                                        else
                                        {
                                            <img src="~/assets/images/hungary_flag.jpg" alt="flag-img" class="avatar  mr-3 align-self-center">
                                            <div>
                                                <strong class="text-dark">Hungarian</strong>
                                            </div>
                                        }
                                    </a>
                                    <div class="language-width dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        @if (langCookie == "en-US")
                                        {
                                            <a href="~/LangHu" class="dropdown-item d-flex pb-3">
                                                <img src="~/assets/images/hungary_flag.jpg" alt="flag-img" class="avatar  mr-3 align-self-center">
                                                <div>
                                                    <strong>Hungarian</strong>
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="~/LangEng" class="dropdown-item d-flex pb-3">
                                                <img src="~/assets/images/us_flag.jpg" alt="flag-img" class="avatar  mr-3 align-self-center">
                                                <div>
                                                    <strong>English</strong>
                                                </div>
                                            </a>
                                        }
                                    </div>
                                </div>*@

                            <div class="dropdown ">
                                <a href="#" class="nav-link pr-0 leading-none user-img" data-toggle="dropdown">
                                    <img src="@_user.UserPic" alt="profile-img" class="avatar avatar-md brround">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow ">

                                    <a class="dropdown-item" href="/home/logout">
                                        <i class="dropdown-icon icon icon-power"></i> @RealEstateAdmin.Resources.Text.Logout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/App-Header-->
            <!-- Sidebar menu-->
            <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
            <aside class="app-sidebar doc-sidebar">
                <div class="app-sidebar__user clearfix">
                    <div class="dropdown user-pro-body">
                        <div>
                            <img src="@_user.UserPic" alt="user-img" class="avatar avatar-lg brround">
                            @*<a href="editprofile.html" class="profile-img">
                                    <span class="fa fa-pencil" aria-hidden="true"></span>
                                </a>*@
                        </div>
                        <div class="user-info">
                            <h2>@_user.FullName</h2>
                            <span>@_user.Role</span>
                        </div>
                    </div>
                </div>
                <ul class="side-menu">
                    @foreach (var item in _menu.OrderBy(r => r.Priority).ToList())
                    {
                        @if (item.Childs.Count == 0 && (item.Address != null || item.ControllerName != ""))
                        {
                            <li>
                                <a class="side-menu__item" href="@item.Address"><i class="side-menu__icon @item.IconName"></i><span class="side-menu__label">@item.Name</span></a>
                            </li>
                        }
                        else
                        {
                            <li class="slide">
                                <a class="side-menu__item" data-toggle="slide" href="@item.Address">
                                    <i class="side-menu__icon @item.IconName"></i><span class="side-menu__label">
                                        @item.Name
                                    </span><i class="angle fa fa-angle-right "></i>
                                </a>
                                <ul class="slide-menu">
                                    @foreach (var subItem in item.Childs.OrderBy(r => r.Priority).ToList())
                                    {
                                        <li class=" @subItem.IconName">
                                            <a class="slide-item @subItem.IconName " href="@subItem.Address">
                                                @subItem.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        @*@if (item.subs.Count == 0 && (item.address != null || item.ControllerName != ""))
                    {
            <li>
                <a class="side-menu__item" href="@item.address"><i class="side-menu__icon @item.IconName"></i><span class="side-menu__label">@item.Name</span></a>
            </li>
                    }
                    else
                    {
            <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="@item.address">
                    <i class="side-menu__icon @item.IconName"></i><span class="side-menu__label">
                        @item.Name
                    </span><i class="angle fa fa-angle-right "></i>
                </a>
                <ul class="slide-menu">
                    @foreach (var subitem in item.subs.OrderBy(r => r.Priority).ToList())
                    {
                        <li class=" @subitem.IconName">
                            <a class="slide-item @subitem.IconName " href="@subitem.address">
                                @subitem.Name
                            </a>
                        </li>
                    }
                </ul>
            </li>
                    }*@
                    }
                </ul>
            </aside>
            <!-- /Sidebar menu-->
            <!--App-Content-->
            <div class="app-content my-3 my-md-5">
                <div class="side-app">
                    @RenderSection("PageMap", required: false)
                    @Html.Partial("_Alert")
                    @RenderBody()
                </div>
            </div>
        </div>

        <!--Footer-->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center">
                        Copyright © @DateTime.UtcNow.Year <a href="#" class="fs-14 text-primary">Solutions Apps</a>. Designed by <a href="#" class="fs-14 text-primary">Solutions Apps</a> All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
        <!-- / Footer-->

    </div>

    <!-- Back to top -->
    <a href="#top" id="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JQuery js-->
    <script src="~/assets/js/vendors/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap js -->
    <script src="~/assets/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

    <!--JQuery Sparkline Js-->
    <script src="~/assets/js/vendors/jquery.sparkline.min.js"></script>

    <!-- Circle Progress Js-->
    <script src="~/assets/js/vendors/circle-progress.min.js"></script>

    <!-- Star Rating Js-->
    <script src="~/assets/plugins/rating/jquery.rating-stars.js"></script>

    <!--Counters -->
    <script src="~/assets/plugins/counters/counterup.min.js"></script>
    <script src="~/assets/plugins/counters/waypoints.min.js"></script>

    <!-- Fullside-menu Js-->
    <script src="~/assets/plugins/toggle-sidebar/sidemenu.js"></script>
    <!-- WYSIWYG Editor js -->
    <script src="~/assets/plugins/wysiwyag/jquery.richtext.js"></script>
    <script src="~/assets/js/formeditor.js"></script>
    <!-- CHARTJS CHART -->
    <script src="~/assets/plugins/chart/Chart.bundle.js"></script>
    <script src="~/assets/plugins/chart/utils.js"></script>
    <!-- Data tables -->
    <script src="~/assets/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/datatable.js"></script>
    <!--Select2 js -->
    <script src="~/assets/plugins/select2/select2.full.min.js"></script>
    <!-- Custom scroll bar Js-->
    <script src="~/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Inline js -->
    <script src="~/assets/js/select2.js"></script>
    <script src="~/assets/js/formelements.js"></script>
    <!-- ECharts Plugin -->
    <script src="~/assets/plugins/echarts/echarts.js"></script>
    <script src="~/assets/plugins/echarts/echarts.js"></script>


    <!-- Custom Js-->
    <script src="~/assets/js/admin-custom.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
